@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans', sans-serif;
	padding: 4% 0;
}
/*input.form-control,textarea.form-control{
	border-radius: 0;
	height: 3em;
	font-size: 1.5em;
}*/
textarea.form-control{
	min-height: 100px;
	max-width: 100%;
}

/* Service Modal */
.modal .alert{
	display: none;
	margin-left: 2.7%;
    width: 95%;
}